.con{
    margin-top: 9rem;
    text-align: center;
}
.conbtn{
    height:7rem;
    width: 7rem;
    border-radius: 1rem;
    margin: 10rem 2rem;
    background-color: white;
}
.imgcon{
    width: 100%;
    height: 100%;
}
.conitems{
    display: flex;
    justify-content: center;
}
.like{
    font-family: 'Fira code', Courier, monospace;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.9rem;
    margin-bottom: 5rem;
}