html{
  font-size: 62.5%;
}


#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 96.5vh;
}
.mybutton:hover {
  background-color: #1f9cff;
  border: .1rem solid #092b49;
  color: #0f0e0e;
}


.span {
  color: #a86b08;
}
nav{
  font-size: 1.6rem;
}

.up {
  position:fixed;
  bottom: 1rem;
  right: 1rem;
  height: 7rem;
  width: 7rem;
}
.up:hover{
  color :white;
  background-color: #1a1717
}







