.App:not(#id) {
  text-align: center;
}

.mybutton:hover {
  background-color: rgb(73, 65, 43);
  border: 1px solid #092b49;
  color: #0f0e0e;
}

.span {
  color: #a86b08;
}

.letter:hover {
  color :rgb(121, 36, 76)
}

.font {
  margin-left: 340px;
  position: absolute;
  color : white;
  margin-bottom: 50px;
  font-family: "fira code";
  
}
.up {
  position:fixed;
  bottom: 10px;
  right: 10px;
  height: 70px;
  width: 70px;
}
.up:hover{
  color :white;
  background-color: #1a1717
}
#text {
  margin-top: 200px;
  text-align: left;
  margin-right: 330px;
  color : white;
  font-size: 24px;
  margin-bottom: 50px;
  font-family: "fira code";
  
}
#textar{
  margin-top: 100px;
  left: -10%;
}
.submit{
  margin-left: -680px;
}
.submit:hover{
  background-color  :rgb(124, 100, 34)
}
.ctxt{
  text-align: left;
  position: absolute;
  color: white;
  margin-top: 60px;
  margin-bottom: auto;
  font-size: 24px;
  
}

.carousel{
  position : "absolute";
  margin-left : 60px;
  margin-top: 91px;
  margin-bottom: 91px;
  top : "100%";
  left : "20%";
  max-width: 900px;
  max-height : 600px;
}
.spansub {
  color :rgb(89, 184, 27)
}
.listitem{
  text-align: left;
  margin-right: 290px;
  color : white;
  font-size: 24px;
  margin-bottom: 50px;
  font-family: "fira code";
}
.hr {
  width: 75%;
  color :white
}


