.App {
  text-align: center;
}

.mybutton:hover {
  background-color: rgb(73, 65, 43);
  border: 1px solid #092b49;
  color: #0f0e0e;
}

.span {
  color: #a86b08;
}

.letter:hover {
  color :rgb(121, 36, 76)
}

.font {
  margin-left: 340px;
  position: absolute;
  color : white;
  margin-bottom: 50px;
  font-family: "fira code";
  
}
.carousel{
  position : "absolute";
  margin-left : 60px;
  margin-top: 71px;
  top : "100%";
  left : "20%";
  max-width: 900px;
  max-height : 600px;
}
.spansub {
  color :rgb(89, 184, 27)
}


